.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.search-form {
    display: flex;
    width: 50%;
}